.container {
    width: 1190px;
    margin: 0 auto;

    .breadcrumb {
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        margin-bottom: 6px;
        padding-left: 10px;
        clear: both;

        a {
            color: #3C3C3C;
        }

        strong {
            font-size: 14px;
        }

        em {
            font-weight: normal;
            color: #F22E00;
        }
    }
}