#warpper {
  width: 1190px;
  margin: 0 auto;
  z-index: 0;
  zoom: 1; }
  #warpper #mian-cont {
    float: left;
    width: 1188px;
    z-index: 1;
    zoom: 1;
    padding-top: 15px;
    margin-bottom: 0;
    color: #aaa;
    font-size: 13px;
    line-height: 20px; }
    #warpper #mian-cont .item a {
      color: #3c3c3c; }
    #warpper #mian-cont .item .u-nav-title {
      font-weight: bolder;
      line-height: 22px;
      margin-left: 10px;
      font-size: 14px;
      float: left;
      color: #6C6C6C;
      display: inline-block;
      margin-left: 10px;
      background-color: #fff;
      margin-bottom: 10px; }
    #warpper #mian-cont .item #m-selected-cery .u-left-icon {
      float: left;
      position: relative;
      width: 14px;
      height: 22px;
      margin-bottom: 10px; }
      #warpper #mian-cont .item #m-selected-cery .u-left-icon .z-arrow {
        position: absolute;
        top: 6px;
        right: 0;
        display: inline-block;
        width: 5px;
        height: 9px;
        background-position: -5px -88px; }
      #warpper #mian-cont .item #m-selected-cery .u-left-icon i {
        background: url("../images/listicon.png") 9999px 9999px no-repeat; }
    #warpper #mian-cont .item #m-selected-cery .u-nav-attr {
      float: left;
      color: #6C6C6C;
      display: inline-block;
      margin-left: 10px;
      background-color: #fff;
      margin-bottom: 10px; }
      #warpper #mian-cont .item #m-selected-cery .u-nav-attr a {
        position: relative;
        border: 1px solid #ddd;
        display: block;
        padding-left: 8px;
        padding-right: 23px;
        line-height: 21px;
        height: 20px;
        margin: 0;
        font-size: 14px;
        z-index: 1; }
        #warpper #mian-cont .item #m-selected-cery .u-nav-attr a i {
          position: absolute;
          width: 9px;
          height: 6px;
          top: 7px;
          right: 8px;
          background-position: -2px -25px;
          margin-right: 0; }
  #warpper .cata_cart_left {
    float: left;
    width: 210px;
    margin-bottom: 67px;
    padding-right: 5px; }
    #warpper .cata_cart_left .m-cart {
      float: left;
      width: 210px;
      height: 100%;
      border: 1px solid #DFDFDF;
      border-bottom: 3px solid #F7F7F7;
      background-color: #F7F7F7; }
      #warpper .cata_cart_left .m-cart .title {
        background-color: #E9E9E9;
        padding: 12px 0 12px 10px; }
        #warpper .cata_cart_left .m-cart .title a {
          color: #3C3C3C;
          font-weight: 700; }
      #warpper .cata_cart_left .m-cart #cata_list {
        border-top: 1px solid #DFDFDF; }
        #warpper .cata_cart_left .m-cart #cata_list li {
          position: relative;
          color: #3C3C3C;
          line-height: 36px;
          padding-left: 30px; }
        #warpper .cata_cart_left .m-cart #cata_list .menu_3 .menu_two .second_div {
          position: relative;
          width: 210px;
          margin: 0 0 0 -30px;
          background: #FFF;
          border-bottom: 1px #ddd solid; }
    #warpper .cata_cart_left .m-rehotbox {
      float: left;
      margin-top: 10px;
      width: 210px;
      border: 1px solid #dfdfdf; }
      #warpper .cata_cart_left .m-rehotbox .rehottit {
        position: relative;
        z-index: 0;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 700;
        color: #3c3c3c;
        background: #e9e9e9;
        border-bottom: 1px solid #dfdfdf; }
      #warpper .cata_cart_left .m-rehotbox .rehotcon {
        font-size: 12px; }
        #warpper .cata_cart_left .m-rehotbox .rehotcon .hotitem {
          border-bottom: 1px solid #dfdfdf; }
          #warpper .cata_cart_left .m-rehotbox .rehotcon .hotitem .fn-rmb {
            font-style: normal;
            padding-right: 2px; }
          #warpper .cata_cart_left .m-rehotbox .rehotcon .hotitem .itemin {
            padding: 10px; }
            #warpper .cata_cart_left .m-rehotbox .rehotcon .hotitem .itemin .proname {
              display: block;
              color: #6c6c6c; }
              #warpper .cata_cart_left .m-rehotbox .rehotcon .hotitem .itemin .proname img {
                width: 190px;
                height: 190px; }
              #warpper .cata_cart_left .m-rehotbox .rehotcon .hotitem .itemin .proname span {
                display: block;
                height: 36px;
                overflow: hidden; }
            #warpper .cata_cart_left .m-rehotbox .rehotcon .hotitem .itemin .itemprice {
              margin: 4px 0 0; }
              #warpper .cata_cart_left .m-rehotbox .rehotcon .hotitem .itemin .itemprice .new {
                color: #f22e00;
                font-weight: 700;
                padding-right: 10px; }
              #warpper .cata_cart_left .m-rehotbox .rehotcon .hotitem .itemin .itemprice .old {
                font-style: normal;
                padding-right: 2px;
                text-decoration: line-through;
                color: #9c9c9c; }
        #warpper .cata_cart_left .m-rehotbox .rehotcon .hotitem:first-child {
          border-top: 1px transparent; }
  #warpper .cata_shop_right {
    width: 970px;
    margin: 0 0 0 5px;
    float: left; }
    #warpper .cata_shop_right .attribute_content {
      font-size: 12px;
      color: #333;
      width: 970px;
      border-bottom: 3px solid #f9f9f9; }
      #warpper .cata_shop_right .attribute_content .attrs {
        border: 1px solid #ddd; }
        #warpper .cata_shop_right .attribute_content .attrs a {
          color: #333; }
        #warpper .cata_shop_right .attribute_content .attrs .m-tr {
          line-height: 36px;
          border-top: 1px dotted #ddd;
          overflow: hidden; }
          #warpper .cata_shop_right .attribute_content .attrs .m-tr .g-left {
            width: 90px;
            height: 100%;
            background-color: #F7F7F7;
            float: left; }
            #warpper .cata_shop_right .attribute_content .attrs .m-tr .g-left p {
              color: #9c9c9c;
              text-align: center; }
          #warpper .cata_shop_right .attribute_content .attrs .m-tr .g-right {
            width: 838px;
            height: 100%;
            background-color: #fff;
            float: left;
            position: relative; }
            #warpper .cata_shop_right .attribute_content .attrs .m-tr .g-right .g-list .f-list {
              max-height: 72px;
              float: left;
              position: relative;
              left: 0;
              top: 0;
              width: 720px;
              max-height: 36px;
              overflow: hidden; }
              #warpper .cata_shop_right .attribute_content .attrs .m-tr .g-right .g-list .f-list li {
                float: left;
                padding: 0; }
                #warpper .cata_shop_right .attribute_content .attrs .m-tr .g-right .g-list .f-list li a {
                  position: relative;
                  padding: 0 15px 0 20px;
                  display: block;
                  overflow: hidden;
                  white-space: nowrap;
                  -o-text-overflow: ellipsis;
                  text-overflow: ellipsis;
                  text-align: left;
                  text-decoration: none; }
              #warpper .cata_shop_right .attribute_content .attrs .m-tr .g-right .g-list .f-list .m-pricebox {
                list-style: none;
                width: 165px;
                text-align: center;
                color: #ccc; }
                #warpper .cata_shop_right .attribute_content .attrs .m-tr .g-right .g-list .f-list .m-pricebox input {
                  width: 38px;
                  height: 20px;
                  line-height: 20px;
                  text-align: center;
                  margin: 0 5px;
                  color: #ccc;
                  border: 1px solid #ddd;
                  padding: 0;
                  position: relative;
                  top: -1px; }
                #warpper .cata_shop_right .attribute_content .attrs .m-tr .g-right .g-list .f-list .m-pricebox .u-btn-pri {
                  color: #6C6C6C;
                  border-color: #ddd;
                  border: 1px solid #ccc; }
      #warpper .cata_shop_right .attribute_content .attrs .m-tr:first-child {
        border-top: none; }
    #warpper .cata_shop_right .searchbox {
      background: #faf5fa;
      width: 968px;
      border: 1px solid #f1f1f1;
      padding-bottom: 0;
      margin-top: 0;
      z-index: 2; }
      #warpper .cata_shop_right .searchbox .list {
        background: #f7f7f7;
        width: 968px;
        height: 36px; }
        #warpper .cata_shop_right .searchbox .list a {
          text-decoration: none; }
        #warpper .cata_shop_right .searchbox .list .text12 {
          font-size: 12px; }
          #warpper .cata_shop_right .searchbox .list .text12 li:hover a {
            color: red; }
          #warpper .cata_shop_right .searchbox .list .text12 li {
            border-right: 1px #e9e9e9 solid;
            padding-right: 0;
            float: left;
            display: table-cell; }
            #warpper .cata_shop_right .searchbox .list .text12 li a {
              color: #3c3c3c;
              padding: 11px 15px;
              display: block; }
        #warpper .cata_shop_right .searchbox .list .right {
          margin: 3px 12px;
          float: right; }
          #warpper .cata_shop_right .searchbox .list .right .all-number {
            float: left;
            padding: 9px 17px;
            color: #6C6C6C; }
          #warpper .cata_shop_right .searchbox .list .right .pageArea {
            display: inline-block;
            overflow: hidden;
            position: relative;
            text-align: center;
            top: 7px;
            vertical-align: middle;
            height: 14px;
            line-height: 14px; }
            #warpper .cata_shop_right .searchbox .list .right .pageArea .colf22e01 {
              color: #f22e01; }
    #warpper .cata_shop_right #cata_choose_product {
      padding: 10px 9px 0;
      width: 952px;
      position: relative;
      z-index: 1;
      zoom: 1; }
      #warpper .cata_shop_right #cata_choose_product li:hover {
        border: 1px solid #f22e00; }
      #warpper .cata_shop_right #cata_choose_product li {
        display: inline-block;
        width: 200px;
        height: 400px;
        padding: 0 9px 6px;
        margin: 0 9px 10px;
        border: 1px solid #fff;
        float: left; }
        #warpper .cata_shop_right #cata_choose_product li .nosinglemore {
          width: 200px;
          height: 30px;
          border: none;
          border: 0;
          margin: 0;
          padding: 0; }
        #warpper .cata_shop_right #cata_choose_product li .listbox .listPic {
          position: relative;
          height: 200px;
          margin: 0 0 5px; }
          #warpper .cata_shop_right #cata_choose_product li .listbox .listPic a {
            width: 200px;
            height: 200px; }
          #warpper .cata_shop_right #cata_choose_product li .listbox .listPic img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; }
        #warpper .cata_shop_right #cata_choose_product li .listbox .list-scroll {
          width: 200px;
          height: 32px; }
          #warpper .cata_shop_right #cata_choose_product li .listbox .list-scroll .list-scroll-warp {
            float: left;
            width: 180px;
            height: 32px;
            overflow: hidden;
            position: relative;
            margin-left: -1px; }
            #warpper .cata_shop_right #cata_choose_product li .listbox .list-scroll .list-scroll-warp dl {
              position: absolute; }
              #warpper .cata_shop_right #cata_choose_product li .listbox .list-scroll .list-scroll-warp dl dd {
                float: left;
                width: 30px;
                height: 30px;
                margin: 0 2px;
                border: 1px solid #EEE; }
                #warpper .cata_shop_right #cata_choose_product li .listbox .list-scroll .list-scroll-warp dl dd a {
                  float: left; }
                #warpper .cata_shop_right #cata_choose_product li .listbox .list-scroll .list-scroll-warp dl dd img {
                  width: 30px;
                  height: 30px; }
        #warpper .cata_shop_right #cata_choose_product li .listbox .discountPrice {
          height: 20px;
          font-weight: 700;
          margin: 11px 5px 9px 0;
          padding: 0;
          font-weight: 700; }
          #warpper .cata_shop_right #cata_choose_product li .listbox .discountPrice .price-cash .text13 {
            font-size: 18px;
            line-height: 20px;
            color: #f22e01; }
          #warpper .cata_shop_right #cata_choose_product li .listbox .discountPrice .price-cash .text18 {
            font-size: 18px;
            line-height: 15px;
            color: #f22e01; }
        #warpper .cata_shop_right #cata_choose_product li .listbox .listDescript {
          color: #3c3c3c;
          margin: 0 0 8px;
          text-align: left;
          overflow: hidden;
          height: 36px; }
          #warpper .cata_shop_right #cata_choose_product li .listbox .listDescript a {
            display: block;
            line-height: 18px;
            font-size: 13px;
            color: #3c3c3c;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 130px;
            display: block; }
        #warpper .cata_shop_right #cata_choose_product li .listbox .itemPrice {
          height: 27px; }
          #warpper .cata_shop_right #cata_choose_product li .listbox .itemPrice .bobs {
            border-bottom: 1px solid #f5f2f2;
            padding-bottom: 4px;
            overflow: hidden; }
            #warpper .cata_shop_right #cata_choose_product li .listbox .itemPrice .bobs .text12 {
              float: left;
              color: #d0cbcb;
              position: relative;
              top: 3px;
              font-size: 12px; }
          #warpper .cata_shop_right #cata_choose_product li .listbox .itemPrice .cart_wrapper .text12 {
            float: left;
            color: #d0cbcb;
            position: relative;
            top: 3px;
            font-size: 12px; }
            #warpper .cata_shop_right #cata_choose_product li .listbox .itemPrice .cart_wrapper .text12 i {
              color: #f22e01;
              list-style: none;
              font-style: normal; }

.footder {
  border-top: 1px solid #F1F1F1;
  background-color: #FEFEFE;
  margin-top: 30px; }
  .footder .foot-total {
    width: 100%;
    background: #F5F5F5;
    height: 161px; }
    .footder .foot-total .foot {
      width: 1190px;
      margin: 0 auto 20px;
      padding-top: 1px; }
      .footder .foot-total .foot .foot-left {
        width: 80%;
        float: left;
        padding: 10px;
        font-size: 12px;
        color: #666; }
        .footder .foot-total .foot .foot-left li {
          display: inline-block;
          padding: 0 10px;
          line-height: 2; }
        .footder .foot-total .foot .foot-left a {
          color: #666; }
        .footder .foot-total .foot .foot-left .foot-max {
          font-size: 14px;
          color: #333333;
          padding-left: 0; }
      .footder .foot-total .foot .foot-right {
        float: right;
        height: 100px; }
        .footder .foot-total .foot .foot-right .call {
          display: flex;
          align-items: center;
          height: 100px; }
          .footder .foot-total .foot .foot-right .call span {
            float: left;
            text-align: right;
            font-size: 14px;
            color: #666; }
          .footder .foot-total .foot .foot-right .call em {
            font-size: 18px;
            color: #2A2A2A; }
          .footder .foot-total .foot .foot-right .call img {
            float: left;
            width: 48px;
            height: 48px;
            margin-left: 20px; }
  .footder .foot-base {
    width: 100%;
    height: 100px;
    background: #666666; }
    .footder .foot-base .foot-bottom {
      width: 1190px;
      margin: 0 auto;
      padding-top: 1px; }
    .footder .foot-base p {
      margin-top: 29px;
      font-size: 14px;
      color: #FFFFFF; }

/*# sourceMappingURL=list.css.map */
