/* 
* @Author: Marte
* @Date:   2019-05-08 22:17:12
* @Last Modified by:   Marte
* @Last Modified time: 2019-05-14 14:56:09
*/
.logo {
    width: 400px;
    margin-left: 180px;
    margin-top: 20px;
}

.logo img,
.a {
    width: 216px;
    height: 52px;
    display: inline;
    float: left;
}

.greet {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-left: 1px solid #ddd;
    color: #6c6c6c;
    padding: 0px 15px;
    font-size: 22px;
    margin-top: 12px;
}

.main {
    border-top: 1px solid #ccc;
    background: url("../images/register_bg.png") repeat 50% 50%;
    padding-bottom: 20px;
}

.content {
    width: 1000px;
    height: 864px;
    margin: 0 auto;
    background: white;
}

.content_top {
    height: 61px;
    padding-left: 40px;
}

.content_top_l {
    height: 60px;
    border-bottom: 1px solid #f4f4f4;
}

.content_top_l h2 {
    height: 59px;
    border-bottom: 2px solid #0996d4;
    line-height: 59px;
    color: #333333;
    font-size: 22px;
    padding-right: 5px;
    font-weight: 300;
    display: inline;
    float: left;
}

.content_c {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 14px;
}

.content_b {
    padding-left: 100px;
    padding-top: 50px;
}

input {
    font-size: 14px;
}

.content_b h3 {
    color: #333;
    padding-left: 110px;
    padding-bottom: 20px;
    font-size: 18px;
}

.content_b ul .list {
    height: 43px;
    display: block;
    clear: both;
    padding: 10px 0 28px 0;
    padding-left: 110px;
    position: relative;

}

.content_b ul .character_l {
    color: #a5a5a5;
    float: left;
}

.content_b ul .character_r {
    color: #0093D0;
    float: left;
}

.content_b ul .consent {
    height: 54px;
    line-height: 54px;
    margin-bottom: 23px;
}

.content_b ul .btn {
    background-color: #00a0e9;
    color: #fff;
    width: 270px;
    height: 54px;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
}

.content_b ul .list .title {
    position: absolute;
    left: 0;
    width: 105px;
    height: 43px;
    padding-right: 5px;
    text-align: right;
    line-height: 43px;
    color: #666;
    -webkit-user-select: none;
}

.this_title {
    position: absolute;
    float: left;
}

.this_title input {
    float: left;
    width: 354px;
    height: 43px;
    line-height: 43px;
    padding-left: 12px;
    border: 1px solid #E5E5E5;
    color: #b6b6b6;
    background-color: #fefefe;
}

.this_title .wrong {
    float: left;
    margin-top: 13px;
    margin-left: 5px;
    line-height: 20px;
    font-size: 12px;
    color: #f00;
}

.this_title .wrong .icon_new {
    background: url(../images/icon_new.png) no-repeat;
    display: none;
}

.this_title .wrong .pi_tip {
    background-position: -162px -7px;
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 43px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 3px;

}

.this_title .not {
    width: 219px;
}

.this_title .note {
    width: 132px;
    height: 43px;
    line-height: 43px;
    padding-left: 0;
    color: white;
    background-color: #22ac38;
    border-radius: 5px;
    font-size: 13px;
}

.footer {
    height: 422px;
    border-top: 1px solid #ddd;
}

.foot_t {
    width: 1190px;
    margin: 0 auto;
    padding: 38px 0;
    overflow: hidden;
}

.foot_t .icon {
    width: 52px;
    height: 52px;
    margin: 0 20px 0 0px;
    float: left;
    background-image: url("../images/fn_g_footer.png");
}

.foot_t .con1 {
    background-position: -6px -4px;
}

.foot_t .con2 {
    background-position: -62px -4px;
}

.foot_t .con3 {
    background-position: -120px -4px;
}

.foot_t .con4 {
    background-position: -177px -4px;
}

.foot_t strong {
    color: #333;
    line-height: 18px;
    vertical-align: text-top;
}

.foot_t span {
    color: #999;
    line-height: 30px;
}

.foot_t li {
    float: left;
    width: 296px;
    font-size: 18px;
    border-right: 1px solid #ccc;
}

.foot_c {
    border-top: 1px solid #ddd;
    background: #fff;
    color: #222;
}

.foot_c ul {
    width: 1190px;
    margin: 0 auto;
    padding: 35px 0 30px;
    overflow: hidden;
}

.foot_c ul li {
    margin: 0 0 0 60px;
    float: left;
}

.foot_c ul li dl {
    margin-left: 25px;
}

.foot_c ul li dl a {
    font-size: 12px;
    color: #999;
}

.foot_b {
    text-align: center;
    font-size: 12px;
    color: #666;
}

.foot_b_t {
    padding: 30px 0 20px;
}

.foot_b_t a {
    padding-right: 15px;
    margin-left: 10px;
    color: #666;
    border-right: 1px solid #666;
}

.foot_b_t .foot_l {
    border-right: 0;
    text-decoration: none;
}

.foot_b_c a {
    color: blue;
}

.foot_b_b {
    text-align: center;
    height: 40px;
    margin: 30px 0;
}

.foot_b_b .foot_r {
    width: 112px;
    background: url("../images/fn_g_footer.png") no-repeat;
    margin-right: 10px;
    height: 40px;
    display: inline-block;
}

.foot_b_b .con5 {
    background-position: -10px -152px;
}

.foot_b_b .con6 {
    background-position: -132px -152px;
}

.foot_b_b .con7 {
    background-position: -11px -201px;
}